.links {

color: rgb(55, 63, 81);
font-family: cursive;
padding-right: 10px;
border: 5px solid green;
border-radius: 10px;


}

.linksdiv {

height: 250px;
width: 400px;


}


.img-agrandandose {

  
  width:60px;
  height:70px


}

.img-agrandandose2 {

  width:75px;
  height:85px


}


.img-agrandandose3{
  width:85px;
  height:95px


}


.img-agrandandose4 {

  width:96px;
  height:105px


}


#calculadora {


  
height: 750px;
width: 400px;
  color: rgb(55, 63, 81);
font-family: cursive;

padding-right: 10px;
border: 5px solid green;
border-radius: 10px;
background-color: lightcyan;


}


body {


background-color: lightblue;
opacity: 0.9;
}

#titulo {

    text-align: center;
    color: red;
    border: 10px solid transparent;
    padding: 15px;
     border-image: url(img/blanco.png) 20% round;

}

